// functions.scss
/// Slightly lighten a color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
$fontSerif: Georgia, "Times New Roman", Times, serif;
$font-stack-arial: Arial, Helvetica, sans-serif;
$roboto: 'Roboto', sans-serif;
$unit: 10px;
$cv-color: #922625; $bg-cat: #F3E7D9; $primColor : #932725;
$h1likesize: $unit*4.8; $h2likesize: 30px; $h3likesize: 21px;
$h1-lh: 174%;
$EC_height: 475;
// surcharge
#hpAnimCo{
  height: #{$EC_height}px;
  box-sizing: border-box;
}
.elmnt-center{
  width: 772px; float: left;
  margin-left: 0; padding-top: 20px;
  text-align: center;
  ul {
    margin: 0; padding: 0;
    display: flex; flex-direction: row;
    list-style: none;
    li.pck1, li.pck2, li.pck3 {
      // outline: solid 1px gray;
      position: relative;
      width: 256px; height: 250px;
      transition: all 0.5s ease-in-out 0s;
      transform-style: preserve-3d;
      p {
        margin: 6px 0 0;
        text-align: center;
        a {
          font: bold 16px/124% Arial, "Helvetica Neue", Helvetica, sans-serif;
          color: $primColor;
          text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
          text-decoration: none;
        }
      }
      a {display: inherit; font-size: 0;}
      img {display: inline-block; border: 1px solid #932725; }
      .evt-price {
        // transform-style: initial;
        position: absolute; top: -14px; right: 8px;
        padding: 0 12px;
        font: bold  21px/32px Arial, sans-serif;
        color: #F86006;
        border-radius: 7px;
        background-color: $bg-cat;
      }
    }
  }
}

.centralEvent{
  position: relative; float: left;
  width: 964px;
  height: #{$EC_height}px;
  margin: 0;
  background: url(bg.jpg) no-repeat;
  .center_zc {
    float: right;
    width: 192px;
    text-align: center; /* centre bt rayEvt */
  }
  .bt-cata{
    position: absolute; right: 23px; top: 0;
    width: 150px;
    padding-bottom: 8px;
    text-align: center; text-decoration: none;
    border-radius: 0 0 10px 10px;
    background-image: linear-gradient(rgba($bg-cat,0), $bg-cat);
    img {transition: all 0.5s ease-in-out 0s;}
    &:hover img {
      transform: rotate(8deg);
    }
    label{
      transition: all 0.5s ease-in-out 0s;
      display:inline-block;
      font: normal 14px/108% $font-stack-arial; color:#59594D;
      cursor:pointer;
      b {font-weight: bold; color: #922625; text-decoration: underline;}
    }
    &:hover label, &:focus label{
      line-height: 144%;
    }
  }
  .bt-rayEvt{
    display: inline-block;
    margin-top: 223px;
    padding: 0 15px;
    font: bold 16px/28px Arial;
    color: #F86006;
    background-color: #FFF;
    border-radius: 10px; border:none; text-decoration: none;
    transition: all .15s ease-in-out 0s;
    &:hover, &:focus {
      color: #fff;
      text-decoration: underline;
      background-color: #F86006;
    }
  }
}
