/ ### !important créer les variable depuis source.json
/ NE PAS TOUCHER LE CODE ÇI DESSOUS !!!!
-require 'json'
-file   = File.read('source.json')
-$objso = JSON.parse(file)
/ - $date        = @var_global
/ #####################################################################
- $var_cat_link   = "https://www.confortetvie.fr/cat/fr/ECatalog.htm?urlLangue=fr"
- $var_gaq_cat    = "'EncartHP_Ecata', 'EncartHP_Ecata-"+$date+"', "

- $var_start_gaq  = "ga('local.send', 'event', "
- $var_end_gaq    = "document.location.pathname);"

/ disable
- $var_link_rayon = "https://www.confortetvie.fr/fr/confort-bien-etre/protection-pieds-jambes.html"
- $var_gaq_rayon  = "'EncartHP', 'confort-bien-etre_protection-pieds-jambes_btnRayon-"+$date+"', "


/ temps (AL)
- $rayEvt  = "boutique/rayon_evenement.aspx?pg=0&evenement_id=#{$objso["ID"]}"
- $date   = $objso["date"]
- $goo    =["ga('local.send', 'event', 'EncartHP_Ecata', 'EncartHP_Ecata-","', document.location.pathname);"]
-$ggstart = "ga('local.send', 'event', 'EncartHP_#{$date}', "
-$ggend   = "document.location.pathname);"