/ ### !important créer les variable depuis source.json
-require 'json'
-file   = File.read('source.json')
-$objso = JSON.parse(file)
/ NE PAS TOUCHER LE CODE ÇI DESSOUS !!!!
- $date   = $objso["date"]
- $rayEvt  = "boutique/rayon_evenement.aspx?pg=0&evenement_id=#{$objso["ID"]["fr"]}"

/ google analytics
- $var_gaq_cat = "'Ecata', "
- $ggstart     = "ga('local.send', 'event', 'EncartHP_#{$date}', "
- $ggend       = "document.location.pathname);"
